.basket-pay {
    margin-bottom: 90px;
    display: flex;
    gap: 24px;

    .checkbox {
        margin: 0;
    }

    .checkbox p a {
        text-decoration: underline;
    }

    .checkbox p,
    .checkbox p * {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
    }
}

.basket-pay-form-cont {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 899px;
}

.form-pay-cont {
    display: flex;
    flex-direction: column;

    .top,
    .middle,
    .bottom {
        border: 1px solid #E5E7E8;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 24px;
    }

    .bottom {
        margin-bottom: 0;
    }

    .middle,
    .bottom {
        .h2 {
            margin-bottom: 20px;
        }
    }


    .h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 24px;
    }

    .inputs-cont-margin-top {
        margin-top: 24px;

        .inputs_cont:not(:last-child) {
            margin-bottom: 24px;
        }
    }



    .inputs_cont {
        display: flex;
        gap: 24px;

        input {
            border: 1px solid #DADCDE;
            padding: 10px;
            border-radius: 10px;
            width: 100%;

            height: 50px;
        }

        .input_cont {
            width: 100%;

            .h3 {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                margin-bottom: 12px;
                color: #767D83;
            }

            span {
                display: none;
                margin-bottom: 12px;
                margin-top: 6px;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #DC2222;
            }
        }

        .err {

            input {
                border: 1px solid #DC2222;
            }

            span {
                display: block;
            }
        }
    }
}

.choice-delivery-cont-holder {
    border: 1px solid #E5E7E8;
    border-radius: 10px;

    .choice-delivery-cont:last-child {
        border-bottom: none;
    }
}

.choice-delivery-cont,
.choice-payment-cont {
    border-bottom: 1px solid #E5E7E8;
    padding: 24px;

    .input_cont {
        margin-top: 24px;
        width: 100%;

        textarea {
            border: 1px solid #DADCDE;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            outline: none;
            resize: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 12px;
            color: #767D83;
        }

        span {
            display: none;
            margin-bottom: 12px;
            margin-top: 6px;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #DC2222;
        }

        .err {

            input {
                border: 1px solid #DC2222;
            }

            span {
                display: block;
            }
        }
    }

    .cont {
        display: flex;
        gap: 16px;
        align-items: center;

        .choice-delivery-svg {
            max-width: 16px;
            max-height: 16px;
            min-height: 16px;
            min-width: 16px;
            cursor: pointer;

            &.choice-delivery-svg-active {
                display: none;
            }
        }

        span {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #3EA44B;
        }
    }

    &.active-checked {
        .cont {
            .choice-delivery-svg {
                &.choice-delivery-svg-active {
                    display: block;
                }

                &.choice-delivery-svg-no-active {
                    display: none;
                }
            }
        }
    }

}


.choice-payment-cont {
    border: 1px solid #E5E7E8;
    border-radius: 10px;
}


.choise-select-cont {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    position: relative;

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        background: none;
        box-shadow: none;
        cursor: pointer;
        border: 1px solid #DADCDE;
        border-radius: 10px;
        padding: 24px 20px;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    svg {
        max-width: 10px;
        max-height: 6px;
        min-height: 6px;
        min-width: 10px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.choice-delivery-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.choice-face-cont {
    border-bottom: 1px solid #DADCDE;
    width: 100%;
    display: flex;
    gap: 40px;
    overflow: hidden;
    overflow-x: auto;
}

.choice-face-item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #767D83;
    cursor: pointer;
    white-space: nowrap;
    transform: translateY(1px);
    transition: .5s;

    &:hover {
        color: var(--text-color);
    }

    &.active {
        color: var(--text-color);
        border-bottom: 2px solid #DC2222;
    }
}

.basket-pay-total-cont {
    width: 100%;
    max-width: 437px;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #E5E7E8;
    height: fit-content;
}

.basket-pay-total-item {
    border-bottom: 1px solid #E5E7E8;
    display: flex;
    gap: 16px;
    padding: 16px;

    img {
        max-width: 60px;
        max-height: 60px;
        min-height: 60px;
        min-width: 60px;
        object-fit: cover;
        object-position: center;
    }
}

.basket-pay-total-item-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.basket-pay-total-item-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #767D83;
    }
}

.basket-pay-total-price {
    padding: 24px;

    .button[type="submit"] {
        width: 100%;
        min-height: 50px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.basket-pay-total-price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    p {
        white-space: nowrap;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

.basket-pay-total-price-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;

    li {
        display: flex;
        gap: 8px;

        p {
            white-space: nowrap;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #767D83;
        }

        .dotted {
            flex: 1;
            height: 1px;
            border-bottom: 1px dotted #DADCDE;
            min-width: 0;
            margin-top: auto;
        }
    }
}

.basket-pay-total-payment {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;

    * {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

@media (max-width: 970px) {
    .basket-pay {
        flex-direction: column;
    }

    .basket-pay-form-cont {
        max-width: 100%;
    }

    .basket-pay-total-cont {
        max-width: 100%;
    }

    .basket-pay {
        .checkbox {
            align-items: center;

            .check-box-btn {
                transform: translateY(0);
            }
        }
    }
}

@media (max-width: 500px) {
    .basket-pay-section {
        padding: 0;
    }

    .basket-pay {
        margin-bottom: 60px;
        gap: 0;
    }

    .basket-pay-form-cont {
        border-radius: 0;
    }

    .choice-face-item {
        font-size: 14px;
    }

    .form-pay-cont {

        .top,
        .middle,
        .bottom {
            border-radius: 0;
            margin-bottom: 0;
            padding: 16px;
        }

        .middle,
        .bottom {
            border-top: none;
        }

        .middle,
        .bottom {
            .h2 {
                margin-bottom: 20px;
            }
        }

        .h2 {
            font-size: 18px;
            margin-bottom: 16px;
        }

        .inputs_cont {
            flex-direction: column;
        }
    }

    .choice-delivery-cont,
    .choice-payment-cont {
        padding: 24px 16px;
    }

    .basket-pay-total-cont {
        border-top: none;
        width: 100%;
        border-radius: 0;
    }
}