.bottom-fixed-menu {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #484F55;
    z-index: 11;
    min-height: 60px;
    border-top: 1px solid #FFFFFF33;

    .cont {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8px 5px;
        width: -webkit-fill-available;
        gap: 5px;
        background-color: #12131400;
        transition: .5s;

        * {
            color: #FFFFFF99;
        }

        p {
            white-space: nowrap;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            transition: .5s;
        }

        svg {
            max-width: 24px;
            max-height: 24px;
            min-height: 24px;
            min-width: 24px;

            path {
                transition: .5s;
            }
        }

        &.active:not([data-catalog-mob-open-btn]) {

            background-color: #121314;

            * {
                color: #FFFFFF;
            }

            svg {
                path {
                    fill: var(--link-color);
                    fill-opacity: 1;
                }
            }
        }

        &.open[data-catalog-mob-open-btn] {
            background-color: #121314;

            * {
                color: #FFFFFF;
            }

            svg {
                path {
                    fill: var(--link-color);
                    fill-opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 971px) {
    .bottom-fixed-menu {
        display: none;
    }
}