.main-hits {
    padding: 60px 0 40px;
}

.main-hits-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.main-product-item {
    height: auto;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #E5E7E8;
    box-shadow: 0px 1px 2px 0px #1213140D;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;

    .price {
        margin: 16px 0 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        white-space: nowrap;
    }

    h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
        margin-bottom: 8px;
    }

    .article {
        color: #767D83;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 24px;
    }

    .availability {
        cursor: pointer;
        display: flex;
        gap: 4px;
        align-items: center;
        margin-bottom: 16px;

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            border-bottom: 1px dotted #3EA44B;
            display: inline-block;
            color: #3EA44B;
        }

        .availability-svg {
            position: relative;

            svg {
                display: block;
                max-width: 6px;
                max-height: 3px;
                min-height: 3px;
                min-width: 6px;
            }

            .availability-text {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%) translateY(20px);
                min-width: 204px;
                max-width: 204px;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
                border: 1px solid #E5E7E8;
                background-color: #FFF;
                border-radius: 8px;
                padding: 12px;
                z-index: 1;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    li {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 130%;
                        letter-spacing: 0%;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    transform: translateX(-108%) rotate(45deg) translateY(-7px);
                    background-color: #FFF;
                    max-width: 8.5px;
                    max-height: 8.5px;
                    min-height: 8.5px;
                    min-width: 8.5px;
                    border-top: 1px solid #E5EAF0;
                    border-left: 1px solid #E5EAF0;
                    border-radius: 2px 0 0 0;
                }
            }
        }

        &:hover {
            .availability-svg {
                .availability-text {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%) translateY(10px);
                }
            }
        }
    }

    .bottom-cont {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: auto;
    }

   
}

.like-svg {
    padding: 10px;
    background-color: #F4F5F6;
    aspect-ratio: 1/1;
    max-width: 40px;
    max-height: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        transition: .5s;
    }

    svg {
        &.like-svg-path-like:not(.like-is .like-svg-path-like) {
            display: none;
        }
    }

    &:hover {
        .like-svg-path-no-like {
            path {
                fill: #DC2222;
            }
        }
    }

    &.like-is {
        .like-svg-path-no-like {
            display: none;
        }

        .like-svg-path-like {
            position: relative;
            left: 1px;
            top: 1px;
        }
    }
}

.swiperProduct {
    padding-bottom: 10px;
    width: 100%;
    border-radius: 8px;

    .sale {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #DC2222;
        color: #FFF;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        padding: 4px 8px;
        border-radius: 8px;
        z-index: 2;
        white-space: nowrap;
    }

    .swiper-slide {
        width: 100% !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        aspect-ratio: 298/278;
    }
}

@media (max-width: 970px) {
    .main-hits-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 720px) {
    .main-hits-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .main-hits {
        padding: 60px 0 0;
    }

    .main-hits-list {
        gap: 8px;

        &.v2 {
            display: flex;
            overflow-x: auto;
            padding-bottom: 20px;
            padding-left: var(--def-padding);
            padding-right: var(--def-padding);

            .main-product-item {
                max-width: 167px;
                min-width: 167px;

                .bottom-cont {
                    .button {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }

    .main-product-item {
        padding: 8px;

        .price {
            font-size: 16px;
        }

        h3 {
            font-size: 14px;
        }
    }

    .main-product-item .availability {

        &:hover {
            .availability-svg .availability-text {
                transform: translateX(-75%) translateY(10px);
            }
        }

        .availability-svg .availability-text {
            min-width: 150px;
            max-width: 150px;
            transform: translateX(-75%) translateY(20px);

            ul {
                li {
                    font-size: 10px;
                }
            }
        }
    }

    .main-product-item .availability .availability-svg .availability-text::before {
        left: 75%;
        transform: translateX(-102%) rotate(45deg) translateY(-7px);
    }

    .main-product-item .bottom-cont {
        gap: 8px;
    }
}

@media (max-width: 374px) {
    .main-hits-list {
        grid-template-columns: 1fr;
    }
}