.swiperBaner {
    width: 100%;
    height: fit-content;
}

.main-banner-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 400px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;

    .h2 {
        font-size: 40px;
        color: var(--white-color);
        max-width: 545px;
        margin-bottom: 40px;
    }

    .default {
        max-width: 545px;
        color: var(--white-color);
        margin: 0 0 40px;

        * {
            color: var(--white-color);
        }
    }

    .button {
        min-height: 50px;
    }
}



@media (max-width: 970px) {
    .main-banner {

        .sw-btn {
            display: none;
        }
    }

    .main-banner-slide {
        border-radius: 0;

        .h2 {
            font-size: 24px;
            max-width: 100%;
            margin-bottom: 24px;
        }

        .default {
            max-width: 100%;
            margin: 0 0 24px;
        }
    }
}

@media (max-width: 500px) {
    .main-banner-slide {
        padding: 24px 24px 50px;
        justify-content: end;
        min-height: 500px;

        .h2 {
            margin-bottom: 30px;
        }

        .default {
            margin: 0 0 30px;
        }
    }
}