.main-menu {
    height: fit-content;
    padding: 8px 0;
    border-radius: 16px;
    border: 1px solid #E5E7E8;
    box-shadow: 0px 2px 8px 0px #EDEDED;
    width: 100%;
    min-width: 278px;
    max-width: 278px;

    &.about-menu {
        border: none;
        box-shadow: none;
        min-width: 257px;
        max-width: 257px;
        padding: 0;

        li {
            a {
                border: none;
                border-radius: 8px;
                padding: 12px 16px;
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0%;
                }

                svg {
                    display: none;
                }
            }

            .active {
                a {
                    background-color: #F4F5F6;
                }
            }
        }
    }

    &.section-menu {
        padding: 0;
        border-radius: none;
        border: none;
        box-shadow: none;
        min-width: 298px;
        max-width: 298px;
        margin-bottom: 40px;

        li:not(.drop-1) {
            a {
                border: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
            }

            &.active {
                a {
                    background: none;
                    color: var(--link-color);
                }
            }
        }

        li.drop-1 {
            border-radius: 8px;
            background-color: #F4F5F6;
            margin-left: 16px;
            padding: 12px;

            .cont-1 {
                display: flex;
                align-items: center;
                gap: 5px;

                a {
                    background: none;
                    border: none;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                }

                svg {
                    max-width: 10px;
                    max-height: 6px;
                    min-height: 6px;
                    min-width: 10px;
                }
            }

            ul {
                li {
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                    }
                }
            }
        }
    }

    li {

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            width: 100%;
            transition: .5s;
            border-bottom: 1px solid #E5E7E880;

            &:hover {
                background-color: #F4F5F6;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
            }

            svg {
                max-width: 8px;
                max-height: 8px;
                min-height: 8px;
                min-width: 8px;
            }
        }

        &.active {
            a {
                background-color: #F4F5F6;
            }
        }

        &:last-child {
            a {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 970px) {

    .main-menu,
    .section-menu-cont {
        display: none;
    }
}