.maps {
    display: flex;
    gap: 20px;
}

.map-cont {
    height: auto;
    width: -webkit-fill-available;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #E5E7E8;

    .address {
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 24px;
    }

    .flex {
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 24px;
    }

    .flex-item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;

        * {
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #767D83;
        }

        &.v2 {
            font-weight: 600;

            * {
                font-weight: 600;
                color: var(--text-color);
            }
        }
    }

    .button {
        background-color: #121314;
        min-height: 50px;

        &:hover {
            background-color: #C70D0D;
        }
    }
}

.map {
    width: 100%;
    aspect-ratio: 622/470;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 24px;
}

@media (max-width: 1440px) {
    .maps {
        flex-direction: column;
    }

    .map {
        aspect-ratio: 622/175;
    }
}

@media (max-width: 720px) {
    .map {
        aspect-ratio: 343/370;
    }
}

@media (max-width: 500px) {
    .maps-section {
        padding: 0;
    }

    .map-cont {
        padding: 16px;

        .flex {
            flex-direction: column;
        }

        .button {
            width: 100%
        }
    }
}