.sclad {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 60px 0 87px;

    .left {
        width: 100%;
        max-width: 899px;

        .h2 {
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 24px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 30px;
        }

        .default {
            margin-bottom: 30px;
        }

        ul:not(.default ul) {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                display: flex;
                gap: 24px;
                padding: 24px;
                border-radius: 8px;
                border: 1px solid #E5E7E8;

                .img {
                    height: auto;
                    width: 100%;
                    max-width: 160px;
                    min-width: 160px;
                    min-height: 100px;
                    border-radius: 8px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .right-li {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 24px;
                    width: 100%;

                    .h3 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }

                    .flex {
                        justify-content: space-between;
                        width: 100%;
                        gap: 20px;
                    }

                    .flex-item {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        * {
                            color: #767D83;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 16px;
                            leading-trim: NONE;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }

                        &.v2 {
                            * {
                                color: var(--text-color);
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    .right {
        width: 100%;
        max-width: 322px;
        border-radius: 8px;
        border: 1px solid #E5E7E8;
        padding: 24px;

        img {
            border-radius: 8px;
            aspect-ratio: 274/160;
            object-fit: cover;
            width: 100%;
            object-position: center;
            margin-bottom: 24px;
        }

        .right-item {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 24px;

            span {
                font-weight: 400;
                font-style: Regular;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                color: #767D83;
            }

            p {
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
            }
        }

        .button {
            width: 100%;
            height: 50px;
        }
    }
}

@media (max-width: 970px) {
    .sclad {
        flex-direction: column-reverse;

        .left,
        .right {
            max-width: none;
        }
    }
}

@media (max-width: 720px) {
    .sclad .left ul:not(.default ul) li .right-li .flex {
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .sclad-section {
        padding: 0;
    }

    .sclad {
        display: flex;
        gap: 54px;
        justify-content: space-between;
        padding: 54px 0 60px;

        .left {
            padding: 0 var(--def-padding);

            ul:not(.default ul) {
                li {
                    flex-direction: column;

                    .img {
                        max-width: 160px;
                        min-width: 160px;
                        min-height: 100px;
                        max-height: 100px;
                    }

                    .right-li {
                        .flex {
                            gap: 24px;
                        }
                    }
                }
            }
        }

        .right {
            img {
                aspect-ratio: 327/160;
            }
        }
    }
}