.section-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


@media (max-width: 720px) {
    .section-list-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}

@media (max-width: 374px) {
    .section-list-items {
        grid-template-columns: repeat(1, 1fr);
    }
}