.section-menu-cont {
    height: fit-content;

    .name-section {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        padding: 10px 16px;
        background-color: #F4F5F6;
        width: 100%;
        display: block;
        border-radius: 8px;
        margin-bottom: 3px;
    }

    min-width: 298px;
    max-width: 298px;
}

.back-link {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 11px 12px;
    margin-bottom: 20px;

    * {
        transition: .5s;
    }

    svg {
        max-width: 18;
        max-height: 19;
        min-height: 19;
        min-width: 18;
    }

    p {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
    }

    &:hover {
        svg {
            transform: translateX(-5px);

            path {
                fill: var(--link-color);
            }
        }

        p {
            color: var(--link-color);
        }
    }
}


.price-filter-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    .h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
    }

    .price-values-cont {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 13.5px 18px 3.5px;
        border: 1px solid #DADCDE;
        border-radius: 10px;
        position: relative;

        .view {
            position: absolute;
            top: 0;
            left: 100%;
            transform: translateX(20px);
            background-color: #DC2222;
            color: #FFF;
            padding: 10px 16px;
            border-radius: 10px;
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            min-width: 100px;
            z-index: 2;
        }

        .price-values {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;

            input {
                width: 100px;

                &:last-child {
                    text-align: end;
                }
            }
        }

        .noUi-handle:after,
        .noUi-handle:before {
            display: none;
        }

        .noUi-horizontal {
            height: 2px;
            box-shadow: none;
            background: #DC2222;
            position: relative;
            border: none;
        }

        .noUi-connect {
            background: #DC2222;
        }

        .noUi-horizontal .noUi-handle {
            width: 18px;
            height: 18px;
            max-width: 18px;
            max-height: 18px;
            min-height: 18px;
            min-width: 18px;
            right: -9px;
            top: -9px;
            box-shadow: 0px 2px 6px 0px #00000033;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .5s;

            .noUi-touch-area {
                max-width: 6px;
                max-height: 6px;
                min-height: 6px;
                min-width: 6px;
                background-color: #DC2222;
                border-radius: 50%;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}